<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uidynamic学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74BB1AE41D18DF5B009E279F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BB1AF81D18DF5B009E279F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74BB1B031D18DF5B009E279F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
